/*c_lk_bid_list*/

.c_lk_bid_list {
	/*min-height: 1240px;*/
	margin: 10px 0 10px;
	padding: 6px 11px 11px 7px;
	border: 1px solid #EAEAEA;
}

.c_lk_bid_list .blue {
	color: #009ACF;
}


.c_lk_bid_list .bid {
	padding: 11px 9px;
	margin-left: -6px;
	margin-bottom: 2px;
}

.c_lk_bid_list .gray {
	background: #f9f9f9;
}

.c_lk_bid_list .bid .title {
	color: #009ACF;
	margin: 0 0 3px;
	padding: 0;
}

.c_lk_bid_list .bid .title a {
	text-decoration: none;
}

.c_lk_bid_list .bid .text {
	margin: 0 0 6px;
}

.c_lk_bid_list .bid .date {
	color: #727272;
}

.c_lk_bid_list .bid .response {
	font-weight: bold;
	margin: 0 4px;
}

.c_lk_bid_list .bid .completive {
	float: left;
	padding: 4px 0;
}
