/*c_document_list*/

.c_document_list .title {
    color: #009ACF;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 6px;
}

.c_document_list .date {
    color: #727272;
    display: inline;
}

.c_document_list .document_item {
    padding: 5px 0 9px;
    margin: 5px 0;
    line-height: 1.2em;
    background: url(./../../PageLayout/img/dot-separator-3c3c3c.gif) 0 100% repeat-x;
}

.c_document_list .last {
    background: none;
}

.c_document_list .document_item .file {
    text-decoration: none;
}

.c_document_list .document_item .remove {
    float: right;
    padding-left: 18px;
    margin-right: 2px;
    background: url(./../../PageLayout/img/icon-remove.gif) 0 50% no-repeat;
}
