

/* add this content to c_list_extended_org_view.css (is in ad_list_page.css) */


/*company_control_bar*/

.company_control_bar {
    margin: 6px 0 4px;
    padding: 4px 12px 4px 10px;
    border: 1px solid #FEDB5D;
    background: #FFF;
}

.company_control_bar a {
    color: #000;
    margin: 0 9px;
}

.company_control_bar .edit {
    padding: 0 0 0 19px;
    background: url(../../../app/AppPageLayout/img/icon-pen.png) 0 50% no-repeat;
}
