<!DOCTYPE html>
<!--[if IE 7 ]>
<html lang="ru" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>
<html lang="ru" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>
<html lang="ru" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ru" class="no-js"><!--<![endif]-->
<head>
    <title>Page title</title>
    <meta charset="utf-8">

    <link href="resources/css/normalize.css" rel="stylesheet">
    <link href="resources/css/style_page.css" rel="stylesheet">

    <link href="resources/css/ad_list_page.css" rel="stylesheet">

    <!--buttons and forms-->
    <link href="resources/css/buttons-forms.css" rel="stylesheet">

</head>
<body>

<!--c_jump_to_top-->
<div class="c_jump_to_top">
    <a href="#"><i></i>Наверх<i></i></a>
</div>


<div class="header">
    <div class="header_top_section">
        <div class="container">

            <!--c_logo-->
            <div class="c_logo">
                <a href="/"><img src="resources/img/logo.jpg" alt=""/></a>
            </div>
            <!--c_district_select-->
            <div class="c_district_select">
                <div class="selected_district">
                    Район: <span class="selected_district_name">Гатчина и Гатчинский район</span> <i class="down-arrow"></i>
                    <ul class="hover_district_list">
                        <li class="list_item"><a href="/">Гатчина и Гатчинский район</a></li>
                        <li class="list_item"><a href="/">Бокситогорск и Бокситогорский район</a></li>
                        <li class="list_item"><a href="/">Волосово и Волосовский район</a></li>
                        <li class="list_item"><a href="/">Волхов и Волховский район</a></li>
                        <li class="list_item"><a href="/">Всеволожск и Всеволожский район</a></li>
                        <li class="list_item"><a href="/">Выборг и Выборгский район</a></li>
                        <li class="list_item"><a href="/">Кингисепп и Кингисеппский район</a></li>
                        <li class="list_item"><a href="/">Кириши И Киришский район</a></li>
                        <li class="list_item"><a href="/">Кировск и Кировский район</a></li>
                        <li class="list_item"><a href="/">Лодейное поле и Лодейнопольский район</a></li>
                        <li class="list_item"><a href="/">Ломоносов и Ломоносовский район</a></li>
                        <li class="list_item"><a href="/">Луга и Лужский район</a></li>
                        <li class="list_item"><a href="/">Подпорожье и Подпорожский район</a></li>
                        <li class="list_item"><a href="/">Приозерск и Приозерский район</a></li>
                        <li class="list_item"><a href="/">Сланцы и Сланцевский район</a></li>
                        <li class="list_item"><a href="/">Тихвин и Тихвинский район</a></li>
                        <li class="list_item"><a href="/">Тосно и Тосненский район</a></li>
                        <li class="list_item"><a href="/">Санкт-Петергург</a></li>
                        <li class="list_item"><a href="/">Другой</a></li>
                    </ul>
                </div>
            </div>

            <!--c_menu_top_stick-->
            <div class="c_menu_top_stick clearfix">
                <ul class="menu_left">
                    <li class="parent">
                        <a href="/">Справочник <i class="more-arrow"></i></a>

                        <ul>
                            <li><a href="/">Бюро находок</a></li>
                            <li><a href="/">Отзывы</a></li>
                            <li><a href="/">Фото</a></li>
                            <li><a href="/">Видео</a></li>
                            <li><a href="/">Игры</a></li>
                            <li><a href="/">Знакомства</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="/">Общение <i class="more-arrow"></i></a>

                        <ul>
                            <li><a href="/">Бюро находок</a></li>
                            <li><a href="/">Отзывы</a></li>
                            <li><a href="/">Фото</a></li>
                            <li><a href="/">Видео</a></li>
                            <li><a href="/">Игры</a></li>
                            <li><a href="/">Знакомства</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Скидки и акции</a></li>
                    <li><a href="/">Мероприятия</a></li>
                    <li><a href="/">Новости</a></li>
                    <li class="parent">
                        <a href="/">Еще <i class="more-arrow"></i></a>

                        <ul>
                            <li><a href="/">Бюро находок</a></li>
                            <li><a href="/">Отзывы</a></li>
                            <li><a href="/">Фото</a></li>
                            <li><a href="/">Видео</a></li>
                            <li><a href="/">Игры</a></li>
                            <li><a href="/">Знакомства</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu_right">
                    <li><a href="/">Личный кабинет</a></li>
                    <li class="separator">|</li>
                    <li><a href="/">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_bottom_section">
        <div class="container">
            <!--c_menu_top-->
            <div class="c_menu_top">
                <ul>
                    <li><a href="/">Организации</a></li>
                    <li><a href="/">Недвижимость</a></li>
                    <li><a href="/">Работа</a></li>
                    <li><a href="/">Товары и услуги</a></li>
                    <li class="active"><a href="/">Доска объявлений</a></li>
                    <li><a href="/">Заявки на товары и услуги</a></li>
                </ul>
            </div>
            <!--c_top_teaser-->
            <div class="c_top_teaser">
                <ul class="one_element">
                    <li><a class="add" href="/">
                        <img class="icon_add" src="resources/img/icon-add.png" alt=""/><span>Добавить объявление</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="back_ad_wrapper">

<div class="main_content_wrapper">
<div class="container clearfix">


<div class="sidebar">

    <!--c_vip_ads-->
    <div class="c_vip_ads">
        <div class="header">
            <div class="how_to_question">
                (<a href="/">Как сюда попасть?</a>)
            </div>

            VIP Размещение
        </div>

        <div class="vip_list">
            <div class="list_item">
                <div class="image"><a href="/"><img src="images/vip-image-1.jpg" alt=""/></a>
                </div>

                <div class="title">
                    <a href="/">Экскаватор погрузчик JCB
                        4CX, 2006г</a>
                </div>

                <div class="price">8 000 руб</div>
            </div>
            <div class="list_item">
                <div class="image"><a href="/"><img src="images/vip-image-2.jpg" alt=""/></a>
                </div>

                <div class="title">
                    <a href="/">Стол письменный
                        стеклянный (самовывоз)</a>
                </div>

                <div class="price">8 000 руб</div>
            </div>
            <div class="list_item">
                <div class="image"><a href="/"><img src="images/vip-image-3.jpg" alt=""/></a>
                </div>

                <div class="title">
                    <a href="/">Я хочу в семью. Бэлла</a>
                </div>
            </div>
        </div>
    </div>

    <!--c_offer_carousel-->
    <div class="c_offer_carousel">
        <div class="header">Карусель предложений</div>
        <div class="question_how_to"><a href="/">Как сюда попасть?</a></div>

        <div class="offer_list">
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <a class="offer_image" href="/">
                    <img src="images/offer-image-2.jpg" alt=""/>
                </a>

                <div class="short_text">
                    6 450 000 руб.
                </div>

                <div class="offer-link">
                    <a href="/">2-к квартира, 53 м², 1/12 эт.</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="main_content">

<!--c_find_ads_section-->
<div class="c_ad_search_section">

<form>

<div class="search_form_wrapper" style="display: none">
    <div class="search_first_line">

        <div class="search_input_with_button">
            <input class="c_form_input with_button" type="text" placeholder="Например, квартира "/>

            <input class="c_after_input_search_button" type="submit" value="НАЙТИ"/>
        </div>

    </div>

    <label class="c_form_checkbox with_sizing">
        <input type="checkbox"/>
        <span>Искать только организации со скидками и акциями</span>
    </label>


    <div class="full_data show_full">
        <a href="/"><i></i>Развернуть расширенные параметры<i></i></a>
    </div>

</div>

<div class="search_form_wrapper">
    <div class="search_first_line">

        <input class="c_form_input full_width" type="text" placeholder="Например, квартира "/>

    </div>

    <div class="form_line">
        <div class="caption">
            <label>Тип объекта:</label>
        </div>
        <div class="elements">
            <div class="c_type_select">
                <a class="active" href="/">Квартиры</a>
                <a href="/">Комнаты</a>
                <a href="/">Дома, дачи, коттеджи</a>
                <a href="/">Участки</a>
                <a href="/">Коммерческая недвижимость</a>
            </div>
        </div>
    </div>

    <div class="form_line">
        <div class="caption">
            <label>Тип объявления:</label>
        </div>
        <div class="elements">
            <div class="c_type_select">
                <a class="active" href="/">Продам</a>
                <a href="/">Сдам</a>
                <a href="/">Куплю</a>
                <a href="/">Сниму</a>
            </div>

            <div class="additional_elements">
                <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>новостройки</span></label>
                <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>вторичка</span></label>
            </div>

        </div>
    </div>

    <div class="form_line">
        <div class="caption">
            <label>Количество комнат:</label>
        </div>
        <div class="elements top-space">
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>студия</span></label>
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>1</span></label>
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>2</span></label>
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>3</span></label>
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>4</span></label>
            <label class="c_form_checkbox with_sizing"><input type="checkbox"/> <span>5+</span></label>
        </div>
    </div>

    <div class="form_line">
        <div class="caption">
            <label>Цена (руб.):</label>
        </div>
        <div class="elements">
            <select class="c_form_input period_select">
                <option>от</option>
                <option>от</option>
                <option>от</option>
                <option>от</option>
            </select>
            <span class="dash_divider">&mdash;</span>
            <select class="c_form_input period_select">
                <option>до</option>
                <option>до</option>
                <option>до</option>
                <option>до</option>
            </select>
        </div>
    </div>

    <div class="form_line">
        <div class="caption">
            <label>Общая площадь (м²):</label>
        </div>
        <div class="elements">
            <input class="c_form_input small_width" type="text"/>
            <span class="dash_divider">&mdash;</span>
            <input class="c_form_input small_width" type="text"/>

            <strong class="caption-inline">Жилая:</strong>

            <input class="c_form_input small_width" type="text"/>
            <span class="dash_divider">&mdash;</span>
            <input class="c_form_input small_width" type="text"/>


            <strong class="caption-inline">Кухня:</strong>

            <input class="c_form_input small_width" type="text"/>
            <span class="dash_divider">&mdash;</span>
            <input class="c_form_input small_width" type="text"/>
        </div>
    </div>

    <div class="form_line">
        <div class="caption">
            <label>Тип дома:</label>
        </div>
        <div class="elements">
            <select class="c_form_input period_select">
                <option>Не указано</option>
                <option>Не указано</option>
                <option>Не указано</option>
                <option>Не указано</option>
            </select>

            <strong class="caption-inline">Этаж:</strong>

            <select class="c_form_input period_select">
                <option>Не указано</option>
                <option>Не указано</option>
                <option>Не указано</option>
                <option>Не указано</option>
            </select>
        </div>
    </div>


    <div class="form_line">
        <div class="caption">
            <label>За период:</label>
        </div>
        <div class="elements">
            <select class="c_form_input period_select">
                <option>Без ограничений</option>
                <option>Без ограничений</option>
                <option>Без ограничений</option>
                <option>Без ограничений</option>
            </select>

            <strong class="caption-inline">Дополнительно:</strong>

            <label>
                <input class="with_photo_checkbox" type="checkbox"/>
                С фото
            </label>

            <label>
                <input class="with_photo_checkbox" type="checkbox"/>
                Ипотека
            </label>


        </div>
    </div>

    <div class="form_line district">
        <div class="caption">
            <label>Район:</label>
        </div>
        <div class="elements">
            <a href="/">Выбрать районы</a>

            <div class="selected_districts">Гатчина и Гатчинский район, Волосово и Волосовский район</div>
        </div>
    </div>

    <div class="form_line">
        <div class="elements">

            <div class="c_search_button">
                <input class="c_button" type="submit" value="НАЙТИ"/>
            </div>

        </div>
    </div>

    <div class="full_data hide_full">
        <a href="/"><i></i>Свернуть расширенные параметры<i></i></a>
    </div>

</div>

</form>
</div>


<div class="c_pagination_view">
    <div class="view">
        Вид:
        <a class="c_view_button view_3" href="/"></a>
        <a class="c_view_button view_2 active" href="/"></a>
        <a class="c_view_button view_1" href="/"></a>
    </div>

    Страницы:
    <a class="pagination prev" href="/">назад</a>
    <a class="pagination active" href="/">1</a>
    <a class="pagination" href="/">2</a>
    <a class="pagination" href="/">3</a>
    <a class="pagination" href="/">4</a>
    <a class="pagination" href="/">5</a>
    <a class="pagination next" href="/">вперед</a>
</div>


<div class="c_list_view">
    <div class="list_item colored clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>


    <div class="list_item gray clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>

    <div class="list_item clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>

    <div class="list_item gray clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>


    <div class="list_item clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>

    <div class="list_item gray clearfix">

        <div class="right_block">
            <div class="c_add_to_list_button">
                <a href="/" class="button_element">
                    <img class="icon_add" src="resources/img/icon-add.png" alt=""> <span>В мой список</span>
                </a>

                <div class="list-hover-wrapper">
                    <span class="list-hover"><a href="/">Перейти в мой список</a> <span class="arrow"></span></span>
                </div>
            </div>
        </div>

        <div class="price">955 000 руб.</div>

        <div class="title"><a href="/">2-к квартира, 53 м², 1/12 эт.</a></div>
    </div>


</div>


<div class="c_pagination_view">
    <div class="view">
        Вид:
        <a class="c_view_button view_3" href="/"></a>
        <a class="c_view_button view_2 active" href="/"></a>
        <a class="c_view_button view_1" href="/"></a>
    </div>

    Страницы:
    <a class="pagination prev" href="/">назад</a>
    <a class="pagination active" href="/">1</a>
    <a class="pagination" href="/">2</a>
    <a class="pagination" href="/">3</a>
    <a class="pagination" href="/">4</a>
    <a class="pagination" href="/">5</a>
    <a class="pagination next" href="/">вперед</a>
</div>


</div>

</div>

<div class="footer container clearfix">
    <div class="left_part">
        <div class="copyright">
            © 2013 LENPD.RU - Деловой портал Ленинградской области<br>
            <span class="muted">При перепечатке гиперссылка на портал обязательна.</span>
        </div>

        <div class="footer_bottom">
            <a href="/"><img src="images/counter-sample.png" alt=""/></a>
            <a class="about" href="/">О проекте</a>
            <a class="project_commerce" href="/">Реклама на проекте</a>
        </div>

    </div>

    <div class="links_list_column">
        <ul>
            <li><a href="/">Организации</a></li>
            <li><a href="/">Недвижимость</a></li>
            <li><a href="/">Работа</a></li>
            <li><a href="/">Товары и услуги</a></li>
            <li><a href="/">Частные объявления</a></li>
            <li><a href="/">Заявки на услуги и товары</a></li>
        </ul>

    </div>

    <div class="links_list_column">
        <ul>
            <li><a href="/">Справочник</a></li>
            <li><a href="/">Общение</a></li>
            <li><a href="/">Скидки и акции</a></li>
            <li><a href="/">Мероприятия</a></li>
            <li><a href="/">Новости</a></li>
        </ul>

    </div>
</div>

<div class="trasparent-stripe-left"></div>
<div class="trasparent-stripe-right"></div>

</div>
</div>
</body>
</html>