/*c_otziv_list*/

.c_otziv_list {
	min-height: 1245px;
	margin: 6px 0 13px;
	padding: 0;
}

.grandHeader {
	color: #009ACF;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: 0 none;
}



.c_otziv_list .comment-target {
	padding: 4px 17px 13px 10px;
	margin: 0 0 25px;
	position: relative;
	border: 1px solid #eaeaea;
}

.c_otziv_list .comment-target .comment-corner {
	width: 35px;
	height: 24px;
	overflow: hidden;
	bottom: -24px;
	left: 80px;
	position: absolute;
	background: url("./../AppPageLayout/img/comment-corner.gif") 50% 100% no-repeat;
}



.c_otziv_list .comment {
    margin: 0 0 8px;
    padding: 6px 10px 7px;
    position: relative;
	background: #f9f9f9;
}

.c_otziv_list .comment img {
    float: left;
    margin: 0px 5px 0px 0px;
}

.c_otziv_list .comment .name {
    color: #009ACF;
}

.c_otziv_list .comment .date {
    color: #969494;
    font-size: 11px;
    margin: 0 5px;
}

.c_otziv_list .comment .text {
    color: #535353;
    line-height: 1.2em;
    margin: 6px 0 0px 58px;
}



.c_otziv_list .comment-target .title {
    color: #009ACF;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}

.c_otziv_list .goods .title {
    margin-top: 6px;
}

.c_otziv_list .comment-target .right_block {
    float: right;
    text-align: right;
    width: 140px;
    padding: 0;
    margin: -1px 0 0 30px;
}

.c_otziv_list .comment-target .contacts_section {
    overflow: hidden;
    margin-bottom: 9px;
}

.c_otziv_list .comment-target .contacts_section a,
.c_otziv_list .comment-target .contacts_section .phone {
    color: #3c3c3c;
    text-overflow: ellipsis;
    padding-left: 20px;
    margin-right: 22px;
    overflow: hidden;
    white-space: nowrap;
    background: none 0 50% no-repeat;
}

.c_otziv_list .comment-target .contacts_section .phone {
    padding-left: 14px;
    background-image: url("./../AppPageLayout/img/icon-phone.png");
}

.c_otziv_list .comment-target .contacts_section .mail {
    background-image: url("./../AppPageLayout/img/icon-mail.png");
}

.c_otziv_list .comment-target .contacts_section .site {
    background-image: url("./../AppPageLayout/img/icon-web.png");
}

.c_otziv_list .comment-target .bottom_link {
    margin-top: 4px;
}

.c_otziv_list .comment-target .bottom_link a {
    margin-right: 6px;
}

.c_otziv_list .comment-target .title a,
.c_otziv_list .comment-target .bottom_link a {
    text-decoration: none;
}

.c_otziv_list .comment-target .title a:hover,
.c_otziv_list .comment-target .bottom_link a:hover {
    text-decoration: underline;
}


.c_otziv_list .comment-target .c_add_to_list_button .button_element {
    width: auto;
    padding-right: 8px;
    white-space: nowrap;
    border-color: #e9daa4 #f5de8d #ecc431 #e9cd65;
    background: #ffd32d url("./../AppPageLayout/img/button-bg.jpg") 0 0 repeat-x;
}

.c_otziv_list .comment-target .c_add_to_list_button .button_element.added {
    background: #ffffff;
    border-color: #E8E8E8;
}

/*
.c_otziv_list .comment-target .c_add_to_list_button .button_element:hover {
    text-decoration: none;
    border-color: #e9daa4 #f5de8d #ecc431 #e9cd65;
    background: #ffd32d url("/img/button-bg.jpg") 0 0 repeat-x;
}

.c_otziv_list .comment-target .c_add_to_list_button .button_element:hover > span,
.c_otziv_list .comment-target .c_add_to_list_button .button_element.added > span {
    text-decoration: underline;
}

.c_otziv_list .comment-target .c_add_to_list_button:hover .list-hover-wrapper,
.c_otziv_list .comment-target .c_add_to_list_button .list-hover-wrapper:hover {
    display: block;

}
*/

.c_otziv_list .comment-target .price {
    font-size: 14px;
    font-weight: bold;
    margin: 16px 0 7px;
}

.c_otziv_list .comment-target .price strong {
    margin: 0 7px;
    padding: 3px 20px;
    background-color: #FFDA5F;
}

.c_otziv_list .comment-target .price .remove_from_cart {
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
    padding: 4px;
    padding-left: 17px;
    background: url("./../AppPageLayout/img/icon-remove.gif") 0 50% no-repeat;
}
